#login-form{
	font:white;
	background-color: #000;
	height: 235px;
	width:300px;
	padding: 70px 10px;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 50%;
	left:50%;
}
#l1{
	font-family: sans-serif;
	transform: translate(0%,-483%);
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
}
.avatar{

height: 100px;
width:100px;
transform: translate(-4%,-120%);

}
#sid{
	color: #ffffff;
	transform: translate(-19% ,-1085%);
	font-weight: bold;
	font-family: sans-serif;
}
#user_id{
	transform: translate(0%,-1290%);
	border:none; 
	border-bottom:1px solid #fff;
	background: transparent;
	outline: none;
	height:12px;
	width: 200px;
	color: #fff;
	font-size: 12px;
}
#user_pass{
	transform: translate(0%,-1282%);
	border:none; 
	border-bottom:1px solid #fff;
	background: transparent;
	outline: none;
	height:12px;
	width: 200px;
	color: #fff;
	font-size: 12px;
}
#sub{
	transform: translate(-3%,77%);
	border: none;
	outline: none;
	height: 50px;
	width: 200px;
	background: green;
	color: #fff;
	font-size: 18px;
	border-radius:30px;

}
