#container
{
	height:40%;
	width:100%;
	background-color:cyan;
}

#left
	{
	width:49%;
	height:80%;
	
	padding-top:2%;
	background-color:white;


	}

img
{
	height:200px;
	width:300px;
	
	

}

#tshirtdetails
{
	width:300px;
	height:300px;
	padding-left:5%;
	
}

#right
{
	padding-top:2%;
	width:51%;
	height:80%;
	
	background-color:white;
	float:right;


}

#bottom

{
	height:30%;
	background-color:orange;
}



#tshirttable
{
	margin-left:2.5%;
	height:450px;
	
}

#thirdimg
{
	padding-left:25%;
}

