/*customer page*/


.contact
{
  background-color: #313193;
  color: white;
}

/* Slideshow container */
.slideshow-container {
  width: 1000px;
  position: relative;
  margin: auto;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
a 
{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover
 {
  background-color: #ddd;
  color: black;
}


.site
{
  background: rgba(255, 255, 255,0.6);
  margin: 10px auto;
  width: 1000px;
}

.head
{
  float: left;
}

.head h1
{
  color: #313193;
  font-size: 50px;
  letter-spacing: 2px;

}

.head p
{
  color: auto;
  font-size: 13px;

} 

/*Customer page t-shirt grid*/
.button 
{
  display: inline-block;
  border-radius: 4px;
  background-color: #313193;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 30px;
  margin-right: 5px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span
{
  padding-right: 25px;
}

.button:hover span:after 
{
  opacity: 1;
  right: 0;
}

.zoom {
  padding: 10px;
  background-color: white;
  transition: transform .2s; /* Animation */
  width: 500px;
  height: 500px;
  margin: 20px;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom p
{
  margin-left: 100px;
  color: white;
}
/*T-shirt page*/



#tleft
	{
	width:51%;
	height:530px;
  padding-right:20px;
	}


  #tright
{
  width:49%;
  height:530px;
  
  float:right;

}



.box_border
{
	     border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      border-bottom-style: groove;
      background-color: #eee;
}

.timg
{
	height:230px;
  width:300px;
   border-radius: 8px;
	
	

}

#thirdimg
{

  height:230px;
  width:300px;
  border-radius: 8px;
}

#thirdrow
{
  padding-left:25%;
}

#tshirtdetails
{
  padding-left:15px;
  height:440px;
  background-color:rgba(17, 32, 104,0.4);
}


.hideborder
{
  border:0px;
  width:100px;
}

.themename
{
  border:0px;

 
  font-size:25px;
}

#bottom

{
	height:30%;
	background-color:orange;
}



#tshirttable
{
	
	height:500px;
 
	
}



.tdpadding1
{

  padding-bottom:20px;

}

.tdpadding2
{
  padding-left:120px;
  padding-right:20px;

}






/*logo*/
.logo{
	margin-left: 10px;
  	float: right;
	
}

/*login page*/



body{
	
	font-family: sans-serif;
  
}



#login-form{
  font:white;
  background-color: #000;
  height: 235px;
  width:300px;
  padding: 70px 10px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left:50%;
}
#l1{
  font-family: sans-serif;
  transform: translate(0%,-483%);
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}
.avatar{

height: 100px;
width:100px;
transform: translate(-4%,-120%);

}
#sid{
  color: #ffffff;
  transform: translate(-19% ,-1085%);
  font-weight: bold;
  font-family: sans-serif;
}
#user_id{
  transform: translate(0%,-1290%);
  border:none; 
  border-bottom:1px solid #fff;
  background: transparent;
  outline: none;
  height:12px;
  width: 200px;
  color: #fff;
  font-size: 12px;
}
#user_pass{
  transform: translate(0%,-1282%);
  border:none; 
  border-bottom:1px solid #fff;
  background: transparent;
  outline: none;
  height:12px;
  width: 200px;
  color: #fff;
  font-size: 12px;
}
#sub{
  transform: translate(-3%,77%);
  border: none;
  outline: none;
  height: 50px;
  width: 200px;
  background: green;
  color: #fff;
  font-size: 18px;
  border-radius:30px;

}



/*admin content*/
.beaker
{
  position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 60px;

  }

.g
{
    background-image: url("../images/notice.jpg");
    background-repeat: no-repeat;
    width: 1000px;
    height: 650px;
    background-position: center;
}

.admin_content
{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    display: block;
}

.admin_content{
    width: 950px;
    height: 625px;
	color: white;
  text-align: right;
	border-spacing: 20px;
	background-color:#499943;
	padding-left: 50px;
	padding-top: 25px;
	border:dashed;
	border-color: darkgreen;
  border-width: 5px;
  opacity: 0%;
  border-spacing: 30px;
}
.admin_content:hover{opacity: 100%;}

.reset
{
	width: 75px;
	height: 25px;
	margin-right: 10px;
	background-color: red;
	color: white;
	border: 0px;

}

.submit{
	width: 75px;
	height: 25px;
	background-color: green;
	color: white;
	border: 0px;
}

.button2
{
padding: 10px 6px;
border: solid;
padding-right:30px;
display: inline-block;
border-radius: 4px;
background-color: #313193;
border: none;
  color: #FFFFFF;
font-size: 14px;
cursor: pointer;
transition: 0.5s;
width:100px;"

}

.tpic
{
  height: 300px;
  width: auto;
}

/*main changes*/

body
{
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size:100%;
  background-position: center;
  background-attachment: fixed;
}

.submit,.reset
{
  cursor: pointer;
}

/*Admin login*/

.log{
  width: 300px;
  background-color: darkgreen;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 5px;
  padding-bottom: 5px;
  border-radius: 5%;
}

/*order.php page*/
#countorders
{
  width:600px;
  height:400px;
  background-color:#d0f582;
  text-align:center;
  border:solid #313193;
}


.button3
{
padding: 10px 6px;
color: white;
border-radius:10px;
padding-right:30px;
display: inline-block;
border: 2px solid #1d5e05;
background-color: #313193;
font-size: 14px;
cursor: pointer;
transition: 0.5s;
width:150px;"

}

